<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily Tasker - Pending Orders</title>

    <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="static/assets/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="static/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
 <style>
        .status-buttons {
            display: none;
            margin-top: 10px;
        }
        .status-buttons .btn {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    </style>
    <style>
  /* Let the two tables shrink properly */
  .top-products .table-responsive { flex: 1 1 0; min-width: 0; }

  /* Keep sensible widths on desktop */
  .top-products table th:first-child,
  .top-products table td:first-child { width: 90px; }   /* Image */
  .top-products table th:nth-child(3),
  .top-products table td:nth-child(3) { width: 80px; }  /* Qty */

  /* Stack vertically on tablets/phones */
  @media (max-width: 992px) {
    .top-products { flex-direction: column; align-items: stretch; }
  }

  /* Phone fixes: wrap long titles, avoid overflow */
  @media (max-width: 576px) {
    .top-products table { table-layout: fixed; }
    .top-products th, .top-products td { white-space: normal; word-break: break-word; }
    .top-products th:nth-child(2), .top-products td:nth-child(2) { width: auto !important; }
    .top-products img { width: 64px; height: 64px; object-fit: cover; }
  }

  /* Make the search bar fluid on mobile (overrides inline max-width) */
  #topProductsSearch { width: 100%; min-width: 0; }
  .input-group.input-group-sm[style*="max-width:420px"] { max-width: 100% !important; }
</style>

</head>

<body id="page-top">

    <div id="wrapper">

        {% include 'header.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                         <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                <img class="img-profile rounded-circle" src="static/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pending Orders </h6>
                        </div>
<div class="top-products" style="display: flex; justify-content: center; gap: 20px;">
    <div class="table-responsive" style="flex: 1;">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Image</th>
                    <th style="width: 30%;">Title</th>
                    <th>Quantity</th>
                    <th style="width: 10%;">Done</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pending_items[:half] %}
                <tr>
                    <td><img src="{{ item.item_image }}" width="75" height="75"></td>
                    <td><span contenteditable="true">{{ item.item_title }}</span></td>
                    <td><span contenteditable="true">{{ item.quantity }}</span></td>
                    <td><button class="btn btn-success btn-circle btn-sm mark-done"><i class="fas fa-check"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive" style="flex: 1;">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Image</th>
                    <th style="width: 30%;">Title</th>
                    <th>Quantity</th>
                    <th style="width: 10%;">Done</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pending_items[half:] %}
                <tr>
                    <td><img src="{{ item.item_image }}" width="75" height="75"></td>
                    <td><span contenteditable="true">{{ item.item_title }}</span></td>
                    <td><span contenteditable="true">{{ item.quantity }}</span></td>
                    <td><button class="btn btn-success btn-circle btn-sm mark-done"><i class="fas fa-check"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


                        <div style="overflow-x:auto;" class="card-body">
                            <div class="table-responsive">

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Pending Since</th>
            <th>Order#</th>
            <th>Total</th>
            <th>Total Items</th>
            <th style="display: none;">Hidden</th>
            <th style="display: none;">Hidden</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Pending Since</th>
            <th>Order#</th>
            <th>Total</th>
            <th>Total Items</th>
            <th style="display: none;">Hidden</th>
            <th style="display: none;">Hidden</th>
        </tr>
    </tfoot>
    <tbody>
        {% for order in all_orders %}
            <tr>
                <td class="pending-since" data-order-date="{{ order.date }}" style="font-size: 18px; font-weight: bold;"></td>

                <td>{{ order.order_via }} <br> {{ order.order_id }} <br>{{ order.date }}</td>
                <td>{{ order.total_price }}</td>
                <td>
                    <table class="table table-sm nested-table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th style="width: 30%;">Title</th>
                                <th style="width: 5%;">Quantity</th>
                                <th style="width: 20%;" >Tracking</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items_list %}
                                <tr>
                                    <td><img src="{{ item.item_image }}" width="100" height="100"></td>
                                    <td>{{ item.item_title }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        {% if item.tracking_number != 'N/A' %}
                                            <a href="track/{{ item.tracking_number }}" target="_blank">{{ item.tracking_number }}</a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                        <br>
                                        {{ item.status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


                            </div>
                        </div>
                    </div>
 <div class="totals">
    <p>Total Items: <span id="totalItems">0.00</span></p>
    <p>Total Value: <span id="totalValue">0.00</span></p>
</div>
                </div>
                </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="static/assets/js/sb-admin-2.min.js"></script>

    <script src="static/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="static/assets/js/demo/datatables-demo.js"></script>
        <script src="static/assets/js/demo/datatables-demo.js"></script>
    <script src="static/assets/js/track.js"></script>

<script>
    $(document).ready(function() {
        // Check if the table is already a DataTable and destroy it if necessary
        if ($.fn.DataTable.isDataTable('#dataTable')) {
            $('#dataTable').DataTable().destroy();
        }

        // Initialize the DataTable with desired settings
        $('#dataTable').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": [-1, 4] }  // Make the last column and the 5th column non-searchable
            ]
        });
    });
</script>
<script>
        $(document).ready(function() {
            var currentUrl = window.location.pathname;
            $('.nav-item a').each(function() {
                var linkUrl = $(this).attr('href');
                if (currentUrl === '/' + linkUrl) {
                    $(this).parent().addClass('active');
                }
            });
        });

     var table = $('#dataTable').DataTable();

function updateTotals() {
    var filteredData = table.rows({ filter: 'applied' }).nodes(); // get DOM nodes
    var totalItems = 0;
    var totalValue = 0;

    filteredData.each(function (row) {
        // Get the total column value (e.g. Rs 13498.00)
        var amount = parseFloat($(row).find('td:eq(2)').text().replace(/,/g, '')) || 0;
        totalValue += amount;

        // Now count quantities from the nested "Total Items" cell (3rd column, index 2)
        $(row).find('td:eq(3) table tbody tr').each(function () {
            var qtyText = $(this).find('td').eq(2).text().trim(); // Quantity is in 3rd column inside nested table
            var qty = parseInt(qtyText) || 0;
            totalItems += qty;
        });
    });

    $('#totalItems').text(totalItems);
    $('#totalValue').text(totalValue.toFixed(2));
}

    // Initial call
    updateTotals();
    </script><script>
  function parseFlexibleDate(dateStr) {
    if (!dateStr) return null;

    // Clean and normalize date string
    dateStr = dateStr.trim().replace(/\s+/g, ' ');

    // Try direct parse
    let date = new Date(dateStr);
    if (!isNaN(date)) return date;

    // Try "Aug 06, 2025"
    const match = dateStr.match(/([A-Za-z]+ \d{1,2}, \d{4})/);
    if (match) {
      let parsed = Date.parse(match[1]);
      if (!isNaN(parsed)) return new Date(parsed);
    }

    // Try "2025-08-06"
    const isoMatch = dateStr.match(/(\d{4}-\d{2}-\d{2})/);
    if (isoMatch) return new Date(isoMatch[1]);

    return null;
  }

  function updatePendingSince() {
    const cells = document.querySelectorAll(".pending-since");

    cells.forEach(cell => {
      const dateStr = cell.getAttribute("data-order-date");
      const orderDate = parseFlexibleDate(dateStr);

      if (!orderDate) {
        cell.textContent = "—";
        return;
      }

      const now = new Date();
      const diffTime = now.setHours(0, 0, 0, 0) - orderDate.setHours(0, 0, 0, 0);
      const diffDays = Math.max(Math.floor(diffTime / (1000 * 60 * 60 * 24)), 0);

      cell.textContent = `${diffDays} day${diffDays !== 1 ? 's' : ''}`;
      cell.style.fontSize = "18px";
      cell.style.fontWeight = "bold";
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Initialize DataTable if you're using it
    const table = $('#dataTable').DataTable();

    // Update initially
    updatePendingSince();

    // Update on every redraw (pagination, sort, etc.)
    table.on('draw', function () {
      updatePendingSince();
    });
  });
</script>

<script>
(function () {
  // Run after the DOM and DataTables init
  document.addEventListener('DOMContentLoaded', function () {
    combineSortSplitTopTables();
  });

  // If your page re-renders those tables dynamically, you can call this again later
  function combineSortSplitTopTables() {
    // Find the flex container that holds the two small product tables
const flex = document.querySelector('.card .top-products');
    if (!flex) { console.warn('Top products flex container not found'); return; }

    const tables = flex.querySelectorAll('table.table');
    if (tables.length < 2) { console.warn('Expected two top product tables, found:', tables.length); return; }

    const [leftTable, rightTable] = tables;
    const leftBody  = leftTable.tBodies && leftTable.tBodies[0];
    const rightBody = rightTable.tBodies && rightTable.tBodies[0];
    if (!leftBody || !rightBody) { console.warn('One of the top tables has no <tbody>'); return; }

    // 1) Collect all rows from both tables
    const rows = [...leftBody.rows, ...rightBody.rows];

    // Nothing to do?
    if (rows.length < 2) return;

    // 2) Detach current rows to avoid HierarchyRequestError on re-append
    rows.forEach(r => r.parentNode && r.parentNode.removeChild(r));

    // 3) Sort by Title (2nd column), then by Quantity (3rd column) DESC as tiebreaker
    rows.sort((a, b) => {
      const titleA = (a.cells[1]?.textContent || '').trim();
      const titleB = (b.cells[1]?.textContent || '').trim();
      const byTitle = titleA.localeCompare(titleB, undefined, { numeric: true, sensitivity: 'base' });
      if (byTitle !== 0) return byTitle;

      const qa = parseInt((a.cells[2]?.textContent || '').trim(), 10) || 0;
      const qb = parseInt((b.cells[2]?.textContent || '').trim(), 10) || 0;
      return qb - qa; // higher qty first when same title
    });

    // 4) Distribute back
    // MODE A (default): split-halves (gives reading order A,A,B,B down the page)
    const splitHalves = true; // <-- set to false to use round-robin instead

    if (splitHalves) {
      const mid = Math.ceil(rows.length / 2);
      const leftFrag  = document.createDocumentFragment();
      const rightFrag = document.createDocumentFragment();
      rows.slice(0, mid).forEach(r => leftFrag.appendChild(r));
      rows.slice(mid).forEach(r => rightFrag.appendChild(r));
      leftBody.appendChild(leftFrag);
      rightBody.appendChild(rightFrag);
    } else {
      // MODE B: round-robin (keeps columns visually balanced: L,R,L,R,...)
      rows.forEach((r, i) => (i % 2 === 0 ? leftBody : rightBody).appendChild(r));
    }

    console.log(`Combined + sorted ${rows.length} product rows across both top tables.`);
  }
})();
</script>
<script>
(function () {
  document.addEventListener('DOMContentLoaded', initTopProductsSearchAndSort);

  function initTopProductsSearchAndSort() {
    // Find the flex container holding the two small product tables
    const flex = document.querySelector('.card .card-header + div[style*="display: flex"]');
    if (!flex) { console.warn('Top products flex container not found'); return; }

    const tables = flex.querySelectorAll('table.table');
    if (tables.length < 2) { console.warn('Expected two top product tables; found:', tables.length); return; }

    const [leftTable, rightTable] = tables;
    const leftBody  = leftTable.tBodies && leftTable.tBodies[0];
    const rightBody = rightTable.tBodies && rightTable.tBodies[0];
    if (!leftBody || !rightBody) { console.warn('One of the top tables has no <tbody>'); return; }

    // --- Build toolbar (search + count) ---
    const toolbar = document.createElement('div');
    toolbar.className = 'mb-2';
    toolbar.innerHTML = `
      <div class="input-group input-group-sm" style="max-width:420px;">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="search" id="topProductsSearch" class="form-control" placeholder="Search top products (title or qty)">
        <div class="input-group-append">
          <span class="input-group-text" id="topProductsCount"></span>
        </div>
      </div>`;
    // Insert toolbar just above the two tables
    flex.parentNode.insertBefore(toolbar, flex);

    const $input = toolbar.querySelector('#topProductsSearch');
    const $count = toolbar.querySelector('#topProductsCount');

    // --- Capture a master list of the actual <tr> nodes (detach from DOM when rendering) ---
    const masterRows = [...leftBody.rows, ...rightBody.rows];

    // Helper to normalize text (case-insensitive search)
    const norm = s => (s || '').toString().toLowerCase();

    // Precompute searchable keys to speed up filtering
    const keys = new Map(masterRows.map(row => {
      const title = row.cells[1] ? row.cells[1].textContent : '';
      const qty   = row.cells[2] ? row.cells[2].textContent : '';
      return [row, norm(`${title} ${qty}`)];
    }));

    // Remove all rows now; render() will place them back
    masterRows.forEach(r => r.remove());

    // Sorting comparator: Title (A→Z), tie-break by Qty (desc)
    function compareRows(a, b) {
      const A = (a.cells[1]?.textContent || '').trim();
      const B = (b.cells[1]?.textContent || '').trim();
      const byTitle = A.localeCompare(B, undefined, { numeric: true, sensitivity: 'base' });
      if (byTitle !== 0) return byTitle;

      const qa = parseInt((a.cells[2]?.textContent || '').trim(), 10) || 0;
      const qb = parseInt((b.cells[2]?.textContent || '').trim(), 10) || 0;
      return qb - qa; // higher qty first when same title
    }

    // Set false to use round-robin (L,R,L,R,...) instead of split-in-halves
    const splitHalves = true;

    function render(filterText = '') {
      const f = norm(filterText);

      // Filter
      let rows = masterRows.filter(r => !f || keys.get(r).includes(f));

      // Sort
      rows.sort(compareRows);

      // Detach any existing rows from both bodies
      // (quickly clear bodies without killing references)
      while (leftBody.firstChild) leftBody.removeChild(leftBody.firstChild);
      while (rightBody.firstChild) rightBody.removeChild(rightBody.firstChild);

      // Distribute
      if (splitHalves) {
        const mid = Math.ceil(rows.length / 2);
        const leftFrag  = document.createDocumentFragment();
        const rightFrag = document.createDocumentFragment();
        rows.slice(0, mid).forEach(r => leftFrag.appendChild(r));
        rows.slice(mid).forEach(r => rightFrag.appendChild(r));
        leftBody.appendChild(leftFrag);
        rightBody.appendChild(rightFrag);
      } else {
        rows.forEach((r, i) => (i % 2 === 0 ? leftBody : rightBody).appendChild(r));
      }

      // Update counter
      $count.textContent = `${rows.length}/${masterRows.length}`;
    }

    // Debounce input to avoid excessive reflows
    let timer;
    $input.addEventListener('input', () => {
      clearTimeout(timer);
      timer = setTimeout(() => render($input.value), 120);
    });

    // Initial render (no filter)
    render('');
  }
})();
</script>

<script>
  // Hide sidebar on load for mobile; keep SB Admin 2's normal toggle behavior
  document.addEventListener('DOMContentLoaded', function () {
    function applySidebarDefault() {
      const sidebars = document.querySelectorAll('.sidebar');
      if (window.innerWidth < 768) {
        document.body.classList.add('sidebar-toggled');
        sidebars.forEach(s => s.classList.add('toggled'));   // hidden on mobile in SB Admin 2
      } else {
        document.body.classList.remove('sidebar-toggled');
        sidebars.forEach(s => s.classList.remove('toggled')); // normal on desktop/tablet
      }
    }
    applySidebarDefault();

    // Re-evaluate on resize/orientation change (debounced)
    let t;
    window.addEventListener('resize', () => {
      clearTimeout(t);
      t = setTimeout(applySidebarDefault, 150);
    });
  });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Event listener for all "mark as done" buttons
        document.querySelectorAll('.mark-done').forEach(button => {
            button.addEventListener('click', function() {
                // Find the closest parent row (<tr>) and remove it
                this.closest('tr').remove();
            });
        });
    });
</script>

</body>

</html>
